body {
  margin: auto 20rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor {
  width: 1000px;
  height: 600px;
  border: 5px solid;
  border-radius: 50px;
  border-color: black;
  background-image: url(../img/background.jpeg);
  box-shadow: 20px blue;
  box-shadow: 15px 15px cornflowerblue;
  margin: 12px 12px;
}

.trivia {
  color: black;
  font-size: 50px;
  text-shadow: 3px 3px 4px rgba(255, 255, 254, 0.829);
  border-bottom: 30px lightgoldenrodyellow;
  border-bottom-right-radius: 5px;
  margin-left: 350px;
  margin-top: 100px;
}

.nombre2 {
  background-color: chartreuse;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  font-size: 40px;
  font-family: cursive;
  margin: 15% 20%;
  font-style: italic;
  padding: 0px 10px;
}

.jugar {
  font-size: 30px;
  background-color: cornflowerblue;
  color: whitesmoke;
  font-family: sans-serif;
  margin-left: 435px;
  margin-top: 10px;
  padding: 15px;
  border-bottom: blue;
  border-radius: 5px;
  text-decoration: none;
}

.jugar:hover {
  background-color: darkslateblue;
  color: white;
  border-bottom: blue;
  border-radius: 5px;
}

.nombre {
  color: black;
  margin-left: 330px;
}

img {
  width: 200px;
  height: 200px;
  margin: 20px 400px;
}
.pregunta {
  background-color: yellowgreen;
  color: black;
  margin-left: 450px;
  width: 100px;
  height: 30px;
  padding: 8px;
}
.opcion {
  background-color: yellowgreen;
  color: black;
  margin: 20px 190px;
  padding: 8px;
  display: inline-block;
}

.ranking {
  color: black;
  font-size: 50px;
  text-shadow: 3px 3px 4px rgba(255, 255, 254, 0.829);
  width: max-content;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

table{
  border-collapse: collapse;
  width: 80%;
  height: 50%;
  display:inline-flexbox;
  background-color: yellowgreen;
  margin: 90px;
}

table,th,td{
  border: 2px solid black;
  padding: 3px;
}