:root {
  --green: #06C972;
  --gray: #F4F9FC;
  --blue: #0A1C2F;
  --yellow: #FEE27F;
  --white: #FFFFFF;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--blue);
}
header {
  width: 100%;
  background-color: var(--green);
  font-size: 2rem;
}
h1 {
  font-size: 3rem;
}
.center {
  text-align: center;
}
.flex-container {
  display: flex;
}
.flex-container-center{
  justify-content: center;
}
.flex-container-col{
  flex-direction: column;
}
.flex-item {
  margin: 1%;
  padding: 1%;
}
.contenedor {
  width: 100%;
  min-height: 50%;
}
.question {
  width: 150vh;
  border: 5px solid var(--green);
  border-radius: 50px;
  background-color: var(--blue);
  margin: 2%;
}

.trivia {
  color: black;
  font-size: 50px;
  text-shadow: 3px 3px 4px rgba(255, 255, 254, 0.829);
  border-bottom: 30px lightgoldenrodyellow;
  border-bottom-right-radius: 5px;
  margin-left: 350px;
  margin-top: 100px;
}
.jugador-form {
  background-color: var(--yellow);
  height: 100vh;
}
.input-nombre {
  max-width: 300px;
  height: 20%;
  color: var(--blue);
  background-color: var(--gray);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 2rem;
  font-family: cursive;
  font-style: italic;
  padding: 0px 10px;
}
label {
  font-size: 1.2rem;
}
.btn-jugar {
  font-size: 2rem;
  background-color: var(--green);
  color: var(--blue);
  padding: 15px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

.btn-jugar:hover {
  background-color: var(--blue);
  color: var(--green);
}

.question {
  color:var(--yellow);
}
.question > div > img {
  width: 200px;
  height: 200px;
}
.question #pregunta {
  font-size: 1.8rem;
  padding: 0.5rem;
}

[id*="opcion-"] {
  border: 1px solid var(--yellow);
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.ranking {
  color: black;
  font-size: 50px;
  text-shadow: 3px 3px 4px rgba(255, 255, 254, 0.829);
  width: max-content;
  height: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

table{
  border-collapse: collapse;
  width: 80%;
  height: 50%;
  display:inline-flexbox;
  background-color: yellowgreen;
  margin: 90px;
}

table,th,td{
  border: 2px solid black;
  padding: 3px;
}